@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-[#0a0f24] via-[#111936] to-[#1a223f] text-white;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}
